<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-button
  class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
  routerLinkActive="active" routerLink="/home">
    Home
  </button>
  <button mat-button
  class="example-icon" aria-label="Example icon-button with share icon"
  routerLinkActive="active" routerLink="/login">
    Log in
  </button>
  <button mat-button
  class="example-icon" aria-label="Example icon-button with share icon"
  (click)="logout()">
    Log out
  </button>
  <button mat-button
  class="example-icon" aria-label="Example icon-button with share icon"
  routerLinkActive="active" routerLink="/table">
    Table
  </button>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <app-nav></app-nav> -->

